.link {
    position: relative;
    color: #000;
    text-decoration: none;
  }
  
.link:hover {
    color: #000;
  }
  
.link::before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 1.5px;
    bottom: 0;
    left: 0;
    background-color: #000;
    transform: scaleX(0);
    transform-origin: top left;
    transition: transform 0.3s ease;
  }
  
.link:hover::before {
    transform: scaleX(1);
  }